DATABASE_ENGINE=sqlite
SQLITE_PATH=runtime/network_capture_studio.db
APP_HOST=127.0.0.1
APP_PORT=8710
FRONTEND_DIST_DIR=frontend/dist
AUTO_LAUNCH_BROWSER=true
BROWSER_TYPE=chrome
BROWSER_USER_DATA_DIR=runtime/chrome-profile
CHROMEDRIVER_PATH=runtime/drivers/chromedriver.exe
MSEDGEDRIVER_PATH=runtime/drivers/msedgedriver.exe
EDGE_USER_DATA_DIR=runtime/edge-profile
LOG_DIR=logs
